footer {
    margin: 24px 45px 31px 45px;
}

.containerFooter p{
    text-align: center;
}

.footerFlexbox ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

@media screen and (min-width: 769px) {
    
    .containerFooter {
        display: flex;
    }

    footer .containerFooter {
        justify-content: space-between;
        align-items: center;
    }
    .fab {
        padding-right: 36px;
    }
}