/* -- SECTION 1 -- */

#section1 {
    margin: 29px 16px 24px 16px;
}

@media screen and (min-width: 769px) {

    #section1 {
        margin-bottom: 5px;
    }

    h1 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 4rem;
        color: #060A24;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .lineThrough {
        text-decoration: line-through;
    }

    .blueDot {
        color: #0000EC;
    }

    .pSize1 {
        max-width: 628px;
    }
}
/* -- SECTION 2 -- */

.episodesContainer .container h2.h2White {
    margin: 64px 147px 21px 16px;
}

.h2White {
    color: $h2-white;
    margin-bottom: 26px;
}

.iframeContainer {
    display: flex;
    flex-direction: column;
}

iframe {
    width: auto;
    max-width: 100%;
    margin: 11px;
}

@media screen and (min-width: 769px) {

    .episodesContainer .container h2.h2White {
        margin: 26px 0px;
    }

    #section2 {
        margin-bottom: 20.4px;
    }

    .iframeContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    iframe {
        margin-bottom: 72px;
        margin-left: 50px;
        width: 584px;
        min-height: 232px;
    }
}

/* -- SECTION 3 -- */

#section3 {
    margin: 0px 16px 54px 16px;
}

.containerAbout {
    position: relative;
}
.phoneImg {
    position: relative;
    top: -99px;
    // min-height: 400px;
}

@media screen and (min-width: 769px) {

    #section3 {
        margin-bottom: 64px;
    }

    .containerAbout {
        position: relative;
    }
    .phoneImg {
        position: relative;
        top: -195px;
        // min-height: 400px;
    }

    .phoneLogo {
        width: 457.6px;
        max-width: 100%;
        margin-left: 20px;
    }
}

/* -- SECTION 4 -- */ 

#section4 {
    margin-bottom: 48px;
}

#section4 .container h2 {
    margin: 0px 16px 14px 16px;
}

.guestsImgs {
    // width: 100%;
    margin-top: -5px;
}

@media screen and (min-width: 769px) {

    #section4 {
        margin-bottom: 64px;
    }

    .guestsImgs {
        width: 33.3%;
    }

    .gridGuests {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 50% 50%;
    }

    .guests1 {
        display: flex;
        grid-column: 1/4;
    }

    .guests2 {
        display: flex;
        grid-column: 1/4;
    }
}
/* -- SECTION 5 -- */ 

#section5 {
    margin: 0px 16px 42px 16px;
}

.containerMore {
    text-align: center;
}

span.spanText {
    display: block;
}

.pStyle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    display: block;
}

.moreContent {
    margin-top: 65px;
}

@media screen and (min-width: 769px) {

    #section5 {
        margin-bottom: 34px;
    }

    .containerMore {
        display: flex;
    }

    #section5 .containerMore {
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 69px;
        margin-bottom: 34px;
    }
    .pStyle {
        @include pstyle
    }
}
/* -- SECTION 6 -- */ 

h2.h2White2.h2Center {
    margin: 64px 16px 36px 16px;
}

.h2White2 {
    color: $h2-white;
    margin-bottom: 36px;
}

.h2Center {
    text-align: center;
}

.button2 {
    margin-top: 0.9%;
    text-align: center;
}

@media screen and (min-width: 769px) {

    #section6 {
        margin-bottom: 36px;
    }

    .h2White2 {
        color: $h2-white;
        margin-bottom: 36px;
    }
    
    .h2Center {
        text-align: center;
    }
    
    .button2 {
        margin-top: 0.9%;
        text-align: center;
    }

}