@mixin noBullet {
    list-style: none;
    padding-left: 0;
}

@mixin pstyle {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        display: block;
        max-width: 220px;
}

@mixin titles {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
}

@mixin pMobile {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.87rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
}